<nav class="navbar navbar-expand-lg shadow">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../../../assets/images/logo.svg" alt="" />
    </a>
    <div class="navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/']">
          <span
            class="span-nav"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Trang Chủ</span
          >
        </a>
        <a class="nav-item nav-link" href="#">
          <span class="span-nav">Giới Thiệu</span>
        </a>
        <a class="nav-item nav-link" [routerLink]="['/product']">
          <span
            class="span-nav"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Máy Ảnh</span
          >
        </a>
        <a class="nav-item nav-link" [routerLink]="['/cart']">
          <span
            class="span-nav"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Cart</span
          >
        </a>
        <a class="nav-item nav-link" href="#">
          <span class="span-nav">Liên hệ</span>
        </a>
      </div>
    </div>
  </div>
</nav>
