<app-header></app-header>
<!-- *SECTION CAMERA -->
<section class="camera">
  <div class="container">
    <div class="camera-wrapper">
      <h3 class="camera__title">
        We custom build websites to make your brand stand out from the noise
      </h3>

      <div class="grid-image">
        <div class="image-item card">
          <img src="../../../assets/images/sp6.jpg" alt="" class="" />
          <div class="card-body">
            <p class="card-text">Hôm nay bạn chụp gì ?</p>
          </div>
        </div>

        <div class="image-item card">
          <img src="../../../assets/images/sp1_02.jpg" alt="" class="" />
          <div class="card-body">
            <p class="card-text">Film Máy Ảnh</p>
          </div>
        </div>
        <div class="image-item card">
          <img src="../../../assets/images/sp2_46.jpg" alt="" class="" />
          <div class="card-body">
            <p class="card-text">Máy Ảnh SLR</p>
          </div>
        </div>
        <div class="image-item card">
          <img src="../../../assets/images/sp3_85.jpg" alt="" class="" />
          <div class="card-body">
            <p class="card-text">Phụ Kiện Máy Ảnh</p>
          </div>
        </div>
        <div class="image-item card">
          <img src="../../../assets/images/sp4_37.jpg" alt="" class="" />
          <div class="card-body">
            <p class="card-text">Máy Ảnh Film</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
